services:
  dev:
    build:
      context: .
      target: dev
    ports:
      - "3000:3000"
    environment:
      CHOKIDAR_USEPOLLING: "true"
      NODE_ENV: development
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - docusaurus_cache:/app/.docusaurus

  prod:
    build:
      context: .
      target: prod
    ports:
      - "8080:80"
    profiles: ["prod"]

volumes:
  node_modules:
  docusaurus_cache:
